$background-primary-color: #2b2b2b;
$background-secondary-color: #3b3b3b;
$caption-label-text-color: #858584;
$text-color: #ffffff;
$call-to-action: #a259ff;
$gradient-1: linear-gradient(170deg, #a259ff 0%, #377df7 100%);
$gradient-2: linear-gradient(149deg, #a259ff 0%, #ff6250 100%);

$mobile-breakpoint: 834px;
$tablet-breakpoint: 1280px;
